## Red neuronal 1 - Titanic

In [1]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
import pandas as pd
import numpy as np
np.random.seed(2018)

In [2]:
!git clone https://github.com/DavidDek/CDM-RN-2

fatal: destination path 'CDM-RN-2' already exists and is not an empty directory.

In [3]:
train_data = pd.read_csv('CDM-RN-2/train.csv')

train_data['Sex']=np.where(train_data['Sex']=='female',0,1)
del train_data['PassengerId']
del train_data['Name']
del train_data['Ticket']
del train_data['Fare']
del train_data['Cabin']
del train_data['Embarked']
dataset = train_data.dropna()
dataset.reindex(np.random.permutation(dataset.index))

     Survived  Pclass  Sex   Age  SibSp  Parch
362         0       3    0  45.0      0      1
251         0       3    0  29.0      1      1
689         1       1    0  15.0      0      1
801         1       2    0  31.0      1      1
835         1       1    0  39.0      1      1
..        ...     ...  ...   ...    ...    ...
187         1       1    1  45.0      0      0
195         1       1    0  58.0      0      0
281         0       3    1  28.0      0      0
770         0       3    1  24.0      0      0
313         0       3    1  28.0      0      0

[714 rows x 6 columns]

### 1.- Dataset

In [4]:
x_train = dataset.iloc[:614,[1,2,3,4,5]]

In [5]:
x_test = dataset.iloc[614:714,[1,2,3,4,5]]

In [6]:
y_train = dataset.iloc[:614,[0]]

In [7]:
y_test = dataset.iloc[614:714,[0]]

### 2.- Estructura de la RN

In [8]:
model = Sequential()

In [9]:
model.add(Dense(___, input_dim=5, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(___, activation='sigmoid'))

model.compile(loss='binary_crossentropy', 
              optimizer='adam',
              metrics=['accuracy'])

ValueError: ignored

### 3.- Entrenamiento y testeo

In [ ]:
model.fit(x_train, y_train, epochs=___, batch_size=8)

In [ ]:
evaluation = model.evaluate(x_test, y_test)

### Predicciones

In [ ]:
x_train.columns

In [ ]:
new_data = np.array([[3, 1, 25, 1, 2]])

predictions = model.predict(new_data)

predictions